language: c
sudo: required
dist: xenial
env:
  global:
   # The next declaration is the encrypted COVERITY_SCAN_TOKEN, created
   #   via the "travis encrypt" command using the project repo's public key
   - secure: "eUwf+wMiO+lq+PxvA7YtLQ+bK6LUKP5FhK2jtH8+SpwxrhBSYlxD8xnAjg1Lqa7aaxBFuxVLp9wfAA3A135nzke9KUDpFv2yBvSq9ANSoSE6v6GjmM757Njcxa2IChG1tFr20Fsa4kHKtXwu1mQcasUCJXt06Fu+s6GVMFtRh6Y="
compiler:
  - gcc
before_install:
  - sudo apt-get update -qq
  - sudo apt-get install -qq protobuf-c-compiler libprotobuf-c0-dev libaio-dev libprotobuf-dev protobuf-compiler python-ipaddr libcap-dev libnl-3-dev gcc-multilib libc6-dev-i386 libnet-dev libnl-route-3-dev
  - echo -n | openssl s_client -connect scan.coverity.com:443 | sed -ne '/-BEGIN CERTIFICATE-/,/-END CERTIFICATE-/p' | sudo tee -a /etc/ssl/certs/ca-certificates.crt
script:
  - make
addons:
  coverity_scan:
    project:
      name: "avagin/criu"
      description: "Checkpoint/Restore tool http://criu.org"
    notification_email: avagin@gmail.com
    build_command_prepend: true
    build_command:   make
    branch_pattern: coverity_scan
group: deprecated-2017Q2
